/* Header Styles */
.header {
    display: flex;
    justify-content: center; 

    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #E8EBF6;
    z-index: 10;
    width: 100%;
    overflow-x: auto;
    
  }

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 80px;
    padding-right: 80px;
    padding-top:10px;
    padding-bottom:0px;
    width: 100%;
    max-width: 1440px;
    height: 100px;

}

.header-right{
    display: flex;
}
  
  .menu-toggle {
    display:none;
    width: 35px;
    height: 24px;
    border: none;
    position: relative;
  }
  
  .menu-icon {
    width: 24px;
    height: 24px;
    top: 8px;
  }

  .nav-mobile {
    position: fixed; 
    top: 0;
    left: -250px; 
    width: 200px; 
    height: 100vh; 
    background-color: #5676CF;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 100; 
    transition: transform 0.3s ease-in-out; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding-top: 5%;
    padding-left: 20px;
  }

  .closeicon{
    margin-bottom: 40px;
  }

  .nav-mobile.open {
    transform: translateX(250px); 
  }

  .logo-container {
    position: relative;
    width: 210px;
    height: 64px;
  }
  
  
  .nav-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    position: relative;
    margin-right: 50px;
  }
  
  .nav-link {
    font-size: 16px;
    padding: 8px 0;
    color: #1A1D1F;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .white{
    color:#fff;
  }
  
  .nav-link:hover {
    color: #5676CF;
  }
  
  .header-signup-button {
    position: relative;
    width: 149px;
    height: 45px;
    background: linear-gradient(135deg, #5676CF, #AFBFE9);
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 24px;
    border: none;
    transition: filter 0.3s ease;
  }
  
  .signup-button:hover {
    filter: brightness(0.75);
  }

  @media screen and (max-width: 960px) {
    .nav-desktop {
      display: none; 
    }
    .menu-toggle {
        display:block;

    }
    .header-signup-button {
      width: 111.75px;
      height: 45px;
      font-size: 12px;
    }
    .logo-container{
      width:180px;
      height:54px;
    }
  }


  @media screen and (max-width: 768px) {
 
    .header-signup-button {
        width: 74.5px;
        height: 30px;
        font-size: 8px;
    }
    .logo-container{
        width:120px;
        height:36px;
    }
    .header-container{
        height:70px;
  }
}

@media screen and (max-width: 530px) {
 
  .header-signup-button {
      width: 74.5px;
      height: 30px;
      font-size: 8px;
  }
  .logo-container{
      width:120px;
      height:36px;
  }
  .header-container{
      height:50px;
      padding-left: 30px;
      padding-right: 30px;

}
}

@media screen and (max-width: 360px) {
 
  .header-signup-button {
      width: 59.6px;
      height: 24px;
      font-size: 6.4px;
  }
  .logo-container{
      width:96px;
      height:28.8px;
  }
  .header-container{
      height:40px;
      padding-left: 30px;
      padding-right: 30px;
  }
  .menu-icon {
    width: 20px;
    height: 20px;
    top: 8px;
  }
}

@media screen and (max-width: 290px) {
 
 
  .logo-container{
      display: none;
  }
  
}





  
  
  