@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: "Baloo 2 Regular"; /* 自定义字体名称 */
  src: url("/font/Baloo2-Regular.ttf") format("truetype");
  font-weight: 700; /* 定义字体权重 */
  font-style: normal; /* 定义字体样式 */
}

@font-face {
  font-family: "Baloo 2 ExtraBold"; /* 自定义字体名称 */
  src: url("/font/Baloo2-ExtraBold.ttf") format("truetype");
  font-weight: 700; /* 定义字体权重 */
  font-style: normal; /* 定义字体样式 */
}

@font-face {
  font-family: "Inter"; /* 自定义字体名称 */
  src: url("/font/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 700; /* 定义字体权重 */
  font-style: normal; /* 定义字体样式 */
}

@font-face {
  font-family: "Ubuntu"; /* 自定义字体名称 */
  src: url("/font/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400; /* 定义字体权重 */
  font-style: normal; /* 定义字体样式 */
}

@font-face {
  font-family: "Ubuntu Light"; /* 自定义字体名称 */
  src: url("/font/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300; /* 定义字体权重 */
  font-style: normal; /* 定义字体样式 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
  background-color: #FFFFFF; /* 设置全局背景为白色 */
  margin: 0; /* 去掉默认外边距 */
  padding: 0; /* 去掉默认内边距 */
  min-height: 100%; /* 确保背景覆盖整个视口 */
  height: 100%; /* 适配高度 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
